h1{
	height: 20px;
}

h1 img {
	max-width: 100%;
	height: auto;
	width: 230px;
}
h2 {
  color: #363636;  
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  font-size: 22px;
  margin-top: 20px;
  margin-left: 56px;
}

iframe {
	width: 960px;
	height: 540px;
}

.topright {
	float: right;
	margin-top: -60px;
}
.top_nav{
	height:44px;
	padding: 1px;
	background-color:#666666;
}

.menu {
    max-width:1333px;
	width:100%;
    margin-top:-5px;
	margin-left: -20px;
}
 
.menu li {
    list-style:none;
    font-family:'Calibri';

}
 
.menu a {
    transition:all linear 0.15s;
    color:#FFFFFF;
	text-decoration: none;
}
 
.menu li:hover > a, .menu .current-item > a {
    text-decoration:none;
    color:#be5b70;
}

 
/*----- Top Level -----*/
.menu > ul > li {
    float:left;
    display:inline-block;
    position:relative;
    font-size:20px;
}
 
.menu > ul > li > a {
    display:inline-block;
	padding:0px 70px;
}
 
.menu > ul > li:hover > a, .menu > ul > .current-item > a {
    background:#666666;
}
 


.social_icon {
	width:100%;
	text-align:right;
	padding-top: 10px;
	padding-bottom: 10px;
	transition: all 0.3s linear;
}
.footer {
	width: 100%;
	text-align:center;
	font-size:20px;
	border-top-color:#000000;
	border-top-style:solid;
	}
	
/* Carousel */

.slider {
  position: relative;
  max-width: 1280px;
  width: 100%;
  height: 300px;
  margin:0px 0px;
}

.slide {
  background-size: cover;
  display: none;
  position: absolute;
  margin: 25px 0px;
  width: 100%;
  height: 100%;
}
.active-slide {
    display: block;
	max-width: 1280px;
	width: 100%;
}
.slide-copy {
  float:left;
  max-width: 700px;
  width:60%;
  margin-top: 0px;
  margin-left: 30px;
  margin-right: 30px;
}
.slide-copy h1 {
  color: #363636;  
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  font-size: 22px;
  margin-top: 20px;
  margin-left: 56px;
}

.slide-copy p {
  color: #959595;
  font-family: Arial, "Times New Roman", serif;
  font-size: 16px;
  line-height: 1.75em;
  margin-top: 35px;
  text-align:left;
}

.slide-img right{
	width:100%;
	height: auto;
}
.slider-nav {
  text-align: center;
  margin-top: 0px;
}

.arrow-prev {
  margin-right: 45px;
  display: inline-block;
  vertical-align: center;
  margin-top: 9px;
}

.arrow-next {
  margin-left: 45px;
  display: inline-block;
  vertical-align: center;
  margin-top: 9px;
}

.slider-dots {
  list-style: none;
  display: inline-block;
  padding-left: 0;
  margin-bottom: 0;
}

.slider-dots li {
  color: #bbbcbc;
  display: inline;
  font-size: 30px;
  margin-right: 5px;
}

.slider-dots li.active-dot {
  color: #363636;
}
p {
	color: #959595;
  font-family: Arial, "Times New Roman", serif;
  font-size: 16px;
  line-height: 1.75em;
	margin: 30px 0px 0px 60px;
}

  /* Bordered form */
form {
	margin: 10px;
	padding: 10px;
	max-width: 600px;
	width: 100%;
    border: 10px solid #f1f1f1;
}

/* Full-width inputs */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
button {
    background-color: #789051;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
	max-width: 100px;
    width: 100%;
	font-family: arial;
}

/* Extra style for the cancel button (red) */
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #330000;
	font-family: arial;
}

/* The "Forgot password" text */
span.psw {
    float: right;
    padding-top: 16px;
	font-family: arial;
}
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5px auto; /* 15% from the top and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    /* Position it in the top right corner outside of the modal */
    position: absolute;
    right: 25px;
    top: 0; 
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

/* Close button on hover */
.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}
}


    span.psw {
        display: block;
        float: right;
    }
    .cancelbtn {
        width: 100%;
    }
}

/* #Clearing */

/* Self Clearing Goodness */
.container:after { content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; }
.slider:after { content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; }

.clearfix:before,
.clearfix:after,
.row:before,
.row:after {
  content: '\0020';
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0; }
.row:after,
.clearfix:after {
  clear: both; }
.row,
.clearfix {
  zoom: 1; }

.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}
