h1{
	font-family: Calibri, arial, verdana; 
	font-size: 30px; 
	color: #800000;
	margin: 0px 20px 10px 0;
}
h2 {
	font-family: 'Trebuchet MS', Helvetica, sans-serif; color: #800000; font-size: 22px; margin: 50px;
}
iframe {
	width: 960px;
	height: 540px;
}
#header {
	height: 10px;
    width:100%;  
}
.topright {
	float: right;
	margin-top: -55px;
}
.top_nav{
	height:40px;
	padding:5px;
	margin:0px;
	background-color:#000000;
}

.menu {
    max-width:1333px;
	width:100%;
    margin:0px auto;
}
 
.menu li {
    margin:0px;
    list-style:none;
    font-family:'Arial';
}
 
.menu a {
    transition:all linear 0.15s;
    color:#FFFFFF;
}
 
.menu li:hover > a, .menu .current-item > a {
    text-decoration:none;
    color:#be5b70;
}

 
/*----- Top Level -----*/
.menu > ul > li {
    float:center;
    display:inline-block;
    position:relative;
    font-size:16px;
}
 
.menu > ul > li > a {
    display:inline-block;
	padding:0px 70px;
    

}
 
.menu > ul > li:hover > a, .menu > ul > .current-item > a {
    background:#000000;
}
 


.social_icon {
	width:100%;
	text-align:right;
	padding-top: 10px;
	padding-bottom: 10px;
	transition: all 0.3s linear;
}
.footer {
	width: 100%;
	text-align:center;
	font-size:20px;
	border-top-color:#000000;
	border-top-style:solid;
	}
	
/* Carousel */

.slider {
  position: relative;
  max-width: 1280px;
  width: 100%;
  height: 300px;
  margin:0px 0px;
}

.slide {
  background-size: cover;
  display: none;
  position: absolute;
  margin: 25px 0px;
  width: 100%;
  height: 100%;
}
.active-slide {
    display: block;
	max-width: 1280px;
	width: 100%;
}
.slide-copy {
  float:left;
  max-width: 700px;
  width:60%;
  margin-top: 0px;
  margin-left: 30px;
  margin-right: 30px;
}
.slide-copy h1 {
  color: #363636;  
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  font-size: 22px;
  margin-top: 20px;
  margin-left: 25px;
}

.slide-copy p {
  color: #959595;
  font-family: Arial, "Times New Roman", serif;
  font-size: 16px;
  line-height: 1.75em;
  margin-top: 35px;
  text-align:left;
}

.slide-img right{
	float:right;
	margin-left: 130px;
	max-width: 580px;
	width:40%;
}
.slider-nav {
  text-align: center;
  margin-top: 0px;
}

.arrow-prev {
  margin-right: 45px;
  display: inline-block;
  vertical-align: center;
  margin-top: 9px;
}

.arrow-next {
  margin-left: 45px;
  display: inline-block;
  vertical-align: center;
  margin-top: 9px;
}

.slider-dots {
  list-style: none;
  display: inline-block;
  padding-left: 0;
  margin-bottom: 0;
}

.slider-dots li {
  color: #bbbcbc;
  display: inline;
  font-size: 30px;
  margin-right: 5px;
}

.slider-dots li.active-dot {
  color: #363636;
}
p {
	font-family: Calibri;
	color: #800000;
	font-size: 20px;
	margin: 30px 0px 0px 60px;
}

//gallery page//

}
html {
  overflow-y: scroll;
}

.container { 
	position: relative;
	width:100%;
	max-width: 1280px;
	margin: 0px 0px 0px 0px;
}
 
#filters {
	margin:3%;
	padding:0;
	list-style:none;
	font-family: arial;
	font-size: 14px;
	float:center;
	margin-top:40px;
}

	#filters li {
		float:left;
	}
	
	#filters li span {
		display: block;
		padding:10px 20px;		
		text-decoration:none;
		color:#666;
		cursor: pointer;
	}
	
	#filters li span.active {
		background: #789051;
		color:#fff;
	}
  
#portfoliolist .portfolio {
	width:25%;
	margin-bottom: -4px;
	display:none;
	float:left;
	overflow:hidden;
}

	.portfolio-wrapper {
		overflow:hidden;
		position: relative !important;
		background: #FFFFFF;
		cursor:pointer;
	}

	.portfolio img {
		max-width:100%;
		position: relative;
		top: 0px;
    -webkit-transition: all 600ms cubic-bezier(0.645, 0.045, 0.355, 0.3);
    transition:         all 600ms cubic-bezier(0.645, 0.045, 0.355, 0.3);		
	}
	
	.portfolio .label {
		position: absolute;
		width: 100%;
		height:40px;
		bottom:-45px;
		font-family: arial;
		font-size: 14px;
    -webkit-transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 0.3);
    transition:         all 300ms cubic-bezier(0.645, 0.045, 0.355, 0.3);
	}

		.portfolio .label-bg {
			background: #e95a44;
			width: 100%;
			height:100%;
			position: absolute;
			top:0;
			left:0;
		}
		.portfolio .label-text {
			color:#fff;
			position: relative;
			z-index:500;
			padding:5px 8px;
		}
			
			.portfolio .text-category {
				display:block;
				font-family: arial;
				font-size:9px;
			}
	
	.portfolio:hover .label {
    bottom:0;
  }
	.portfolio:hover img {
    top:-30px;
  }  

  /* Bordered form */
form {
	margin: 10px;
	padding: 10px;
	max-width: 600px;
	width: 100%;
    border: 10px solid #f1f1f1;
}

/* Full-width inputs */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
button {
    background-color: #789051;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
	max-width: 100px;
    width: 100%;
	font-family: arial;
}

/* Extra style for the cancel button (red) */
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #330000;
	font-family: arial;
}

/* The "Forgot password" text */
span.psw {
    float: right;
    padding-top: 16px;
	font-family: arial;
}
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5px auto; /* 15% from the top and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    /* Position it in the top right corner outside of the modal */
    position: absolute;
    right: 25px;
    top: 0; 
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

/* Close button on hover */
.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}
}
  
@media only screen and (min-width: 641px) and (max-width: 1024px) {
h2 {
	font-family: 'Trebuchet MS', Helvetica, sans-serif; color: #800000; font-size: 18px; margin: 40px;
}
p {
	font-family: Calibri;
	color: #800000;
	font-size: 16px;
	margin: 0px 0px 0px 40px;
}
iframe {
	width: 960px;
	height: 540px;
}
.top_nav{
	height:40px;
	padding:2px;
	background-color:#000000;
}
.menu {
    max-width:1024px;
	width:100%;
	margin: -3px 0px 0px 0px;
}
.menu > ul > li {
    float:center;
    display:inline-block;
    position:relative;
    font-size:14px;
}
 
.menu > ul > li > a {
    display:inline-block;
	padding:0px 30px;
}
.slider {
  position: relative;
  max-width: 1024px;
  width: 100%;
  min-height: 300px;
  height: 100%;
  margin: 0px 0px;
}
.slide {
  background-size: cover;
  display: none;
  position: absolute;
  margin: 25px 0px;
  width: 100%;
  height: 100%;
}
.active-slide {
    display: block;
	max-width: 1024px;
	width: 100%;
}
.slide-copy {
  float:left;
  max-width: 640px;
  width:50%;
  margin: 0px 5px 0px;
}
.slide-copy h1 {
  color: #363636;  
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  font-size: 20px;
  margin-top: 0px;
  margin-left: 0px;
}

.slide-copy p {
  color: #959595;
  font-family: Arial, "Times New Roman", serif;
  font-size: 14px;
  line-height: 1.75em;
  margin: 5px 10px 5px 0px;
  text-align:left;
}

.slide-img right{
	float:right;
	margin-top:80px;
	margin-left: 130px;
	max-width: 320px;
	width:50%;
}
}

@media only screen and (min-width: 381px) and (max-width: 640px) {
h2 {
	font-family: 'Trebuchet MS', Helvetica, sans-serif; color: #800000; font-size: 16px; margin: 30px;
}
p {
	font-family: Calibri;
	color: #800000;
	font-size: 14px;
	margin: 0px 0px 0px 30px;
}
iframe {
	width: 620px;
	height: 348.75px;
}
#filters {
	font-size: 12px;
}
.top_nav{
	height:40px;
	padding:2px;
	background-color:#000000;
}

.menu {
    max-width:640px;
	width:100%;
	margin: -5px 0px 0px 0px;
}
.menu > ul > li {
    float:center;
    display:inline-block;
    position:relative;
    font-size:14px;
}
 
.menu > ul > li > a {
    display:inline-block;
	padding:0px 20px;
}

.slider {
  position: relative;
  max-width: 640px;
  width: 100%;
  min-height: 300px;
  height: 100%;
  margin: 0px 0px;
}
.slide {
  background-size: cover;
  display: none;
  position: absolute;
  margin: 25px 0px;
  width: 100%;
  height: 100%;
}
.active-slide {
    display: block;
	max-width: 640px;
	width: 100%;
}
.slide-copy {
  float:left;
  max-width: 640px;
  width:40%;
  margin: 0px 5px 0px;
}
.slide-copy h1 {
  color: #363636;  
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  font-size: 18px;
  margin-top: 0px;
  margin-left: 0px;
}

.slide-copy p {
  color: #959595;
  font-family: Arial, "Times New Roman", serif;
  font-size: 12px;
  line-height: 1.75em;
  margin: 5px 10px 5px 0px;
  text-align:left;
}

.slide-img right{
	float:right;
	margin-top:80px;
	margin-left: 130px;
	max-width: 320px;
	width:60%;
}

}


@media only screen and (max-width: 380px) {
h2 {
	font-family: 'Trebuchet MS', Helvetica, sans-serif; color: #800000; font-size: 14px; margin: 20px;
}
p {
	font-family: Calibri;
	color: #800000;
	font-size: 12px;
	margin: 0px 0px 0px 20px;
}
iframe {
	width: 345px;
	height: 194.0625px;
}
#filters {
	font-size: 12px;
}
.portfolio .label {
		font-size: 10px;
	}
.top_nav{
	height:40px;
	padding:2px;
	background-color:#000000;
}
.menu {
    max-width:380px;
	width:100%;
    margin: -7px 0px 0px -5px;
}
.menu > ul > li {
    float:center;
    display:inline-block;
    position:relative;
    font-size:12px;
}
 
.menu > ul > li > a {
    display:inline-block;
	padding:0px 3px;
}
.slider {
  position: relative;
  max-width: 380px;
  width: 100%;
  min-height: 430px;
  height: 100%;
  margin: 0px 0px;
}
.slide {
  background-size: cover;
  display: none;
  position: absolute;
  margin: 25px 0px;
  width: 100%;
  height: 100%;
}
.active-slide {
    display: block;
	max-width: 3800px;
	width: 100%;
}
.slide-copy {
  float:left;
  max-width: 640px;
  width:100%;
  margin: 0px 5px 0px;
}
.slide-copy h1 {
  color: #363636;  
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  font-size: 18px;
  margin-top: 0px;
  margin-left: 0px;
}

.slide-copy p {
  color: #959595;
  font-family: Arial, "Times New Roman", serif;
  font-size: 12px;
  line-height: 1.75em;
  margin: 5px 10px 5px 0px;
  text-align:left;
}

.slide-img right{
	float:right;
	margin-top:80px;
	margin-left: 130px;
	max-width: 380px;
	width:100%;
}

    span.psw {
        display: block;
        float: none;
    }
    .cancelbtn {
        width: 100%;
    }
}

/* #Clearing */

/* Self Clearing Goodness */
.container:after { content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; }
.slider:after { content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; }

.clearfix:before,
.clearfix:after,
.row:before,
.row:after {
  content: '\0020';
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0; }
.row:after,
.clearfix:after {
  clear: both; }
.row,
.clearfix {
  zoom: 1; }

.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}
