@media only screen and (max-width: 840px) {
.top_nav{
	height:34px;
}
.menu > ul > li {
    font-size:14px;
}
.menu > ul > li > a {
	padding:0px 20px;
}
h2 {
  font-size: 16px;
  margin-top: 10px;
  margin-left: 30px;
}

.slider {
  max-width: 840px;
  height: 300px;
}
.slide-copy {
  max-width: 840px;
  width:45%;
  margin-top: 0px;
  margin-left: -30px;
  margin-right: 15px;
}

.slide-copy h1 {
  font-size: 18px;
  margin-left: 50px;
}
.slide-copy p {
  font-size: 13px;
  margin: 15px 6px 10px 50px;
}
.slide-img right{
	max-width:55%;
	width: 300px;
	height: auto;
}
iframe {
	width: 620px;
	height: 348.75px;
}
p {
  font-size: 14px;
  line-height: 1.75em;
  margin: 50px 0px 0px 30px;
}
}



@media only screen and (max-width: 414px) {
.top_nav{
	height:34px;
}
.menu > ul > li {
    font-size:13px;
}
.menu > ul > li > a {
	padding:0px 10px;
}
h2 {
  font-size: 14px;
  margin-top: 10px;
  margin-left: 30px;
}
.slider {
  max-width: 480px;
  height: 450px;
}
.slide-copy {
  max-width: 414px;
  width:100%;
  margin: 0px 6px 6px -30px;
}
.slide-copy h1 {
  font-size: 16px;
  margin-top: 0px;
  margin-left: 50px;
}
.slide-copy p {
  font-size: 12px;
  margin: 15px 6px 10px 50px;
}

iframe {
	max-width: 100%;
	width: 414px;
	height: 270px;
}
p {
  font-size: 10px;
  line-height: 1.75em;
  margin: 50px 0px 0px 30px;
}
}
